author: Fagstaben
contact_url: ''
context: |-
    I denne øvingen skal vi se på samlebånd, avhengigheter og farer.

    Du kan få bruk for følgende utklipp fra side 314 i læreboka:

    .. image:: T4/pipeline.png
      :width: 800
      :alt: Prosessor med 5-stegs samlebånd, inkludert kontrollsignaler
environment_id: tdt4205-eval
environment_parameters:
    limits:
        time: '30'
        hard_time: ''
        memory: '100'
    run_cmd: ''
environment_type: docker
file: ''
input_random: 0
name: Teoretisk øving 4
network_grading: false
problems:
    kontrollord:
        type: multifill
        name: Kontrollsignaler i samlebånd
        header: |-
            I denne oppgaven skal du beskrive kontrollsignalene i samlebåndsprosessoren.

            Du kan få bruk for denne tabellen fra side 312, som beskriver hvilke kontrollsignaler man finner i samlebåndsregistrene.

            .. image:: T4/control-signals.png
              :width: 800
              :alt: Tabell over kontrollsignaler i samlebåndsregisterne

            Som vanlig, husk å oppgi kontrollsignaler i binærtall, med riktig antall bits.
            Dersom verdien til et kontrollsignal ignoreres og dermed kan være hva som helst, skriv :code:`X`.
        subtask_string: ''
        subtasks:
        -   text: |-
                Gitt følgende kodesnutt

                .. code::

                    add x8, x9, x10
                    lw x2, 100(x20)
                    sw x5, 100(x20)
                    add x4, x5, x6
                    beq x12, x13

                Vi skal se på klokkesyklusen da :code:`beq`-instruksjonen er i WB-stadiet av samlebåndet.
                Fyll inn kontrollsignalene i tabellen:

                .. list-table:: Title
                   :widths: 25 25 25 25
                   :header-rows: 1

                   * - Register
                     - :code:`ID/EX`
                     - :code:`EX/MEM`
                     - :code:`MEM/WB`
                   * - :code:`ALUOp`
                     - :input:`r`
                     -
                     -
                   * - :code:`ALUSrc`
                     - :input:`r`
                     -
                     -
                   * - :code:`Branch`
                     - :input:`r`
                     - :input:`r`
                     -
                   * - :code:`MemRead`
                     - :input:`r`
                     - :input:`r`
                     -
                   * - :code:`MemWrite`
                     - :input:`r`
                     - :input:`r`
                     -
                   * - :code:`RegWrite`
                     - :input:`r`
                     - :input:`r`
                     - :input:`r`
                   * - :code:`MemtoReg`
                     - :input:`r`
                     - :input:`r`
                     - :input:`r`
        -   text: |-
                Gitt følgende kodesnutt

                .. code::

                    lw x2, 100(x20)
                    lw x3, 104(x20)
                    lw x3, 108(x20)
                    addi x3, x2, 2
                    sw x2, 108(x20)

                Vi skal se på klokkesyklusen da :code:`sw`-instruksjonen er i WB-stadiet av samlebåndet.
                Fyll inn kontrollsignalene i tabellen:

                .. list-table:: Title
                   :widths: 25 25 25 25
                   :header-rows: 1

                   * - Register
                     - :code:`ID/EX`
                     - :code:`EX/MEM`
                     - :code:`MEM/WB`
                   * - :code:`ALUOp`
                     - :input:`r`
                     -
                     -
                   * - :code:`ALUSrc`
                     - :input:`r`
                     -
                     -
                   * - :code:`Branch`
                     - :input:`r`
                     - :input:`r`
                     -
                   * - :code:`MemRead`
                     - :input:`r`
                     - :input:`r`
                     -
                   * - :code:`MemWrite`
                     - :input:`r`
                     - :input:`r`
                     -
                   * - :code:`RegWrite`
                     - :input:`r`
                     - :input:`r`
                     - :input:`r`
                   * - :code:`MemtoReg`
                     - :input:`r`
                     - :input:`r`
                     - :input:`r`
        -   text: |-
                Gitt følgende kodesnutt

                .. code::

                    addi x1, x0, 1
                    sw x2, 0(x3)
                    beq x0, x1, skip
                    addi x3, x2, 2
                    lw x5, 0(x3)

                Anta at :code:`beq`-instruksjonen IKKE hopper, men at kontrollflyt fortsetter videre.
                Vi skal se på klokkesyklusen da :code:`lw`-instruksjonen er i WB-stadiet av samlebåndet.
                Fyll inn kontrollsignalene i tabellen:

                .. list-table:: Title
                   :widths: 25 25 25 25
                   :header-rows: 1

                   * - Register
                     - :code:`ID/EX`
                     - :code:`EX/MEM`
                     - :code:`MEM/WB`
                   * - :code:`ALUOp`
                     - :input:`r`
                     -
                     -
                   * - :code:`ALUSrc`
                     - :input:`r`
                     -
                     -
                   * - :code:`Branch`
                     - :input:`r`
                     - :input:`r`
                     -
                   * - :code:`MemRead`
                     - :input:`r`
                     - :input:`r`
                     -
                   * - :code:`MemWrite`
                     - :input:`r`
                     - :input:`r`
                     -
                   * - :code:`RegWrite`
                     - :input:`r`
                     - :input:`r`
                     - :input:`r`
                   * - :code:`MemtoReg`
                     - :input:`r`
                     - :input:`r`
                     - :input:`r`
    farer-og-videresending:
        type: multifill
        name: Videresending og farer
        header: |
            I denne oppgaven blir du gitt kodesnutter, og må vurdere om koden inneholder en fare som krever videresending for å gi riktig resultat.

            Du kan få bruk for denne figuren fra side 322, som gir et overordnet bilde over hvordan videresending er implementert i 5-stegs samlebåndprosessoren.

            .. image:: T4/forwarding.png
              :width: 800
              :alt: Oversikt over logikken bak videresending

            I kodesnuttene har hver instruksjon fått en merkelapp slik at vi kan referere til bestemte instruksjoner.
        subtask_string: ''
        subtasks:
        -   text: |-
                Gitt følgende kodesnutt:

                .. code:: riscv

                  i1: addi x2, x0, 20
                  i2: addi x3, x0, 30
                  i3: lw x4, 0(x20)
                  i4: add x3, x3, x2
                  i5: sub x3, x2, x5

                Hvilket register blir videresendt? :input:`r,answer=x3`

                Hvilken instruksjon får resultatet sitt videresendt? :input:`r,answer=i2`

                Hvilken instruksjon mottar et videresendt resultat :input:`r,answer=i4`

                La klokkesykelen da instruksjon :code:`i1` er i :code:`IF`-steget være klokkesykel 1.

                I hvilken klokkesykel skjer videresendingen? :input:`r,answer=6`

                Fra hvilket register kommer den videresendte verdien?

                 - :input:`type=check` EX/MEM
                 - :input:`type=check` MEM/WB
        -   text: |-
                Gitt følgende kodesnutt:

                .. code:: riscv

                  i1: addi x2, x0, 20
                  i2: lw x1, 0(x20)
                  i3: lw x1, 4(x20)
                  i4: add x4, x4, x3
                  i5: add x5, x1, x2

                Hvilket register blir videresendt? :input:`r,answer=x1`

                Hvilken instruksjon får resultatet sitt videresendt? :input:`r,answer=i3`

                Hvilken instruksjon mottar et videresendt resultat :input:`r,answer=i5`

                La klokkesykelen da instruksjon :code:`i1` er i :code:`IF`-steget være klokkesykel 1.

                I hvilken klokkesykel skjer videresendingen? :input:`r,answer=7`

                Fra hvilket register kommer den videresendte verdien?

                 - :input:`type=check,answer=false` EX/MEM
                 - :input:`type=check,answer=true` MEM/WB
        -   text: |-
                Gitt følgende kodesnutt:

                .. code:: riscv

                  i1: addi x5, x2, 100
                  i2: lw x1, 100(x10)
                  i3: sw x2, 100(x10)
                  i4: add x5, x5, x7
                  i5: sub x6, x5, x8

                Hvilket register blir videresendt? :input:`r,answer=x5`

                Hvilken instruksjon får resultatet sitt videresendt? :input:`r,answer=i4`

                Hvilken instruksjon mottar et videresendt resultat :input:`r,answer=i5`

                La klokkesykelen da instruksjon :code:`i1` er i :code:`IF`-steget være klokkesykel 1.

                I hvilken klokkesykel skjer videresendingen? :input:`r,answer=7`

                Fra hvilket register kommer den videresendte verdien?

                 - :input:`type=check,answer=true` EX/MEM
                 - :input:`type=check,answer=false` MEM/WB
    hull-og-tomming:
        type: multifill
        name: Hull og tømming
        header: |
            I denne oppgaven antar vi en 5-stegs samlebåndsprosessor som har logikk for å detektere farer, og videresende resultater hvis mulig.

            Selv med videresending vil en bruk-etter-les-fare introdusere et hull.

            Samlebåndet antar at :code:`beq`-instruksjoner ikke utfører hopp.
            Dersom instruksjonen hopper, vil hoppet utføres når :code:`beq`-instruksjonen når :code:`EX`-steget.
            I samme sykel vil instruksjoen som blir hoppet til bli lest inn i :code:`IF`-steget.
            Samebåndet tømmes ved å nulle ut instruksjonene **mellom** :code:`IF` og :code:`EX`.

            Gitt kodesnuttene under, finn ut hvor mange hull som blir introdusert,
            hvor mange ganger en instruksjon blir nullet ut.
        subtask_string: ''
        subtasks:
        -   text: |
                .. code:: riscv

                    addi x2, x0, 20
                    addi x3, x0, 30
                    add x4, x2, x3
                    add x5, x3, x2
                    beq x4, x5, label
                    lw x2, 100(x20)
                  label:
                    add x3, x2, x2
                    add x4, x3, x3

                Hvor mange hull vil samlebåndet ha hatt, når koden har kjørt ferdig? :input:`r,answer=0`

                Hvor mange instruksjoner blir nullet ut på grunn av tømming? :input:`r,answer=2`

                Gitt at den første klokkesyklusen er i :code:`IF`-steget i klokkesykel 1,
                ved hvilken klokkesykel vil den siste instruksjonen være i :code:`WB`-steget? :input:`r`
        -   text: |-
                .. code:: riscv

                    addi x2, x0, 10   ; Teller ned fra 10
                    addi x3, x0, 0    ; Sett sum-registeret til 0
                  loop:
                    beq x2, x0, done  ; Når telleren er 0, hopp ut av løkken
                    addi x2, x2, -1   ; Reduser teller med 1
                    lw x4, 100(x2)    ; Les byte fra tabell
                    add x3, x3, x4    ; Legg den leste verdien til i summen
                    beq x0, x0, loop  ; Gå tilbake til toppen av løkken
                  done:
                    sw x3, 112(x0)    ; Lagre summen i minnet
                    sw x0, 116(x0)    ; Skriv 0 til minnet

                Hvor mange hull vil samlebåndet ha hatt, når koden har kjørt ferdig? :input:`r,answer=10`

                Hvor mange instruksjoner blir nullet ut på grunn av tømming? :input:`r,answer=20`

                Gitt at den første klokkesyklusen er i :code:`IF`-steget i klokkesykel 1,
                ved hvilken klokkesykel vil den siste instruksjonen være i :code:`WB`-steget? :input:`r`
        -   text: |-
                .. code:: riscv

                  lw x2, 100(x12)
                  addi x13, x12, 20
                  lw x3, 100(x13)
                  add x4, x2, x3
                  add x4, x4, x3
                  lw x2, 200(x12)
                  lw x3, 200(x2)
                  add x4, x4, x3

                Hvor mange hull vil samlebåndet ha hatt, når koden har kjørt ferdig? :input:`r,answer=2`

                Hvor mange instruksjoner blir nullet ut på grunn av tømming? :input:`r,answer=0`

                Gitt at den første klokkesyklusen er i :code:`IF`-steget i klokkesykel 1,
                ved hvilken klokkesykel vil den siste instruksjonen være i :code:`WB`-steget? :input:`r`
