<input
    type="text"
    class="form-control user-selection-box"
    id="{{ id }}"
    name="{{ name }}"
    {% if placeholder %}
        placeholder="{{ placeholder }}"
    {% endif %}
    value="{{ current_users | join(',') }}"
/>
<script type="text/javascript">
    {% set path = get_path('admin', course_id, 'search_user') + '/' %}

    let current_users_{{ name }} = [
        {% for x, y in user_manager.get_users_info(current_users).items() %}
            {"realname": "{{ y.realname if y is not none else x }}", "username": "{{ x }}" },
        {% endfor %}
    ]

    user_selection($('#{{ id }}'), '{{ path }}', current_users_{{ name }}, {% if single %}true{% else %}false{% endif %});
</script>
