author: Fagstaben
contact_url: ''
context: |-
    I denne øvingen skal vi se på virkemåten til flersykelprosessoren.

    Du kan få bruk for følgende utklipp fra side 282.e5 i læreboka:

    .. image:: T3/multicycle.png
      :width: 800
      :alt: Flersykelprosessor med kontrollsignaler
environment_id: mcq
environment_parameters: {}
environment_type: mcq
file: ''
input_random: 0
name: Teoretisk øving 3
network_grading: false
problems:
    can-run-at-once:
        type: multifill
        name: Kontrollsignal i flersykel-prosessor
        header: |-
            I denne oppgaven blir du presentert sett med interne operasjoner du ønsker å utføre i samme sykel.
            Hva må kontrollsignalene settes til for å oppnå dette?

            Oppgi svar i binærtall. De fleste kontrollord er 1 bit, men merk at :code:`ALUSrcB` er en 2-bits verdi.

            (Tabell e4.5.5 i læreboka oppgir at :code:`PCSource` er en 2-bits verdi, men vi lar den være 1-bits, slik figuren over viser.)
        subtask_string: ''
        subtasks:
        -   text: |-
                Disse to operasjonene utføres i samme klokkesykel:

                .. code::

                  PC <= PC + 4
                  IR <= Memory[PC]

                Hva blir følgende kontrollsignaler?

                =================== ====================
                :code:`PCWrite`     :input:`answer=1`
                :code:`IorD`        :input:`answer=0`
                :code:`MemoryRead`  :input:`answer=1`
                :code:`MemoryWrite` :input:`answer=0`
                :code:`IRWrite`     :input:`answer=1`
                :code:`ALUSrcA`     :input:`answer=0`
                :code:`ALUSrcB`     :input:`answer=01`
                :code:`PCSource`    :input:`answer=0`
                =================== ====================
        -   text: |-
                Disse to operasjonene utføres i samme klokkesykel:

                .. code::

                  Registers[IR[11-7]] <= ALUOut
                  PC <= PC + 4

                Hva blir følgende kontrollsignaler?

                =================== ====================
                :code:`PCWrite`     :input:`answer=1`
                :code:`MemtoReg`    :input:`answer=0`
                :code:`PCSource`    :input:`answer=0`
                :code:`ALUSrcA`     :input:`answer=0`
                :code:`ALUSrcB`     :input:`answer=01`
                :code:`RegWrite`    :input:`answer=1`
                =================== ====================
        -   text: |-
                Disse to operasjonene utføres i samme klokkesykel:

                .. code::

                  ALUOut <= PC + immediate
                  PC <= ALUOut

                Hva blir følgende kontrollsignaler?

                =================== ====================
                :code:`PCWrite`     :input:`answer=1`
                :code:`PCSource`    :input:`answer=1`
                :code:`ALUSrcA`     :input:`answer=0`
                :code:`ALUSrcB`     :input:`answer=10`
                =================== ====================
        -   text: |-
                Disse to operasjonene utføres i samme klokkesykel:

                .. code::

                  ALUOut <= A + B
                  MemoryDataRegister <= Memory[ALUOut]

                Hva blir følgende kontrollsignaler?

                =================== ====================
                :code:`IorD`        :input:`answer=1`
                :code:`MemRead`     :input:`answer=1`
                :code:`MemWrite`    :input:`answer=0`
                :code:`ALUSrcA`     :input:`answer=1`
                :code:`ALUSrcB`     :input:`answer=00`
                =================== ====================
    can-not-run-at-once:
        type: multifill
        name: Kontrollsignal-konflikter
        header: |-
            I denne oppgaven blir du gitt kombinasjoner av operasjoner som det IKKE er mulig å utføre i samme klokkesykel.

            Marker hvilke kontrollsignaler som gir konflikter.
        subtask_string: ''
        subtasks:
        -   text: |-
                Følgende operasjoner kan ikke utføres samtidig:

                .. code::

                  ALUOut <= A - B
                  PC <= PC + 4

                Hvilke kontrollsignal(er) er i konflikt?

                =================== ====================
                :code:`PCWrite`     :input:`type=check,answer=0`
                :code:`IorD`        :input:`type=check,answer=0`
                :code:`MemRead`     :input:`type=check,answer=0`
                :code:`MemWrite`    :input:`type=check,answer=0`
                :code:`MemtoReg`    :input:`type=check,answer=0`
                :code:`IRWrite`     :input:`type=check,answer=0`
                :code:`PCSource`    :input:`type=check,answer=0`
                :code:`ALUOp`       :input:`type=check,answer=1`
                :code:`ALUSrcA`     :input:`type=check,answer=1`
                :code:`ALUSrcB`     :input:`type=check,answer=1`
                :code:`RegWrite`    :input:`type=check,answer=0`
                =================== ====================
        -   text: |-
                Følgende operasjoner kan ikke utføres samtidig:

                .. code::

                  A <= Registers[IR[19-15]]
                  Registers[IR[11-7]] <= ALUOut

                Hvilke kontrollsignal(er) er i konflikt?

                =================== ====================
                :code:`PCWrite`     :input:`type=check,answer=0`
                :code:`IorD`        :input:`type=check,answer=0`
                :code:`MemRead`     :input:`type=check,answer=0`
                :code:`MemWrite`    :input:`type=check,answer=0`
                :code:`MemtoReg`    :input:`type=check,answer=0`
                :code:`IRWrite`     :input:`type=check,answer=0`
                :code:`PCSource`    :input:`type=check,answer=0`
                :code:`ALUOp`       :input:`type=check,answer=0`
                :code:`ALUSrcA`     :input:`type=check,answer=0`
                :code:`ALUSrcB`     :input:`type=check,answer=0`
                :code:`RegWrite`    :input:`type=check,answer=1`
                =================== ====================
        -   text: |-
                Følgende operasjoner kan ikke utføres samtidig:

                .. code::

                  if (A == B) PC <= ALUOut
                  ALUOut <= A + B

                Hvilke kontrollsignal(er) er i konflikt?

                =================== ====================
                :code:`PCWrite`     :input:`type=check,answer=0`
                :code:`IorD`        :input:`type=check,answer=0`
                :code:`MemRead`     :input:`type=check,answer=0`
                :code:`MemWrite`    :input:`type=check,answer=0`
                :code:`MemtoReg`    :input:`type=check,answer=0`
                :code:`IRWrite`     :input:`type=check,answer=0`
                :code:`PCSource`    :input:`type=check,answer=0`
                :code:`ALUOp`       :input:`type=check,answer=1`
                :code:`ALUSrcA`     :input:`type=check,answer=0`
                :code:`ALUSrcB`     :input:`type=check,answer=0`
                :code:`RegWrite`    :input:`type=check,answer=0`
                =================== ====================
    value-in-register:
        type: multifill
        name: Verdier i registere
        header: |-
            Vi skal nå se på flyten av data gjennom interne registere i flersykelprosessoren.

            Du kan få bruk for følgende utklipp fra side 282.e11 i læreboka:

            .. image:: T3/control-table.png
              :width: 800
              :alt: Kontroll-tabell for ulike typer instruksjoner i flersykelprosessoren.

            Merk at Store-instruksjoner hopper over "Memory read completion".
        subtask_string: ''
        subtasks:
        -   text: |-
                Gitt følgende program:

                .. code::

                    ; Ved start er
                    ; x2 = 55
                    ; x3 = 20

                    add x4, x2, x3
                    sub x5, x2, x3

                La klokkesykel 1 være det første steget av :code:`add`-instruksjonen.

                Ved slutten av hvilken klokkesykel vil PC være adressen til :code:`sub`-instruksjonen: :input:`answer=1`

                Ved slutten av hvilken klokkesykel vil 55 ligge i det interne A-registeret: :input:`answer=2`

                Ved slutten av hvilken klokkesykel vil 75 ligge i registerfilen på plass x4: :input:`answer=4`

                Ved slutten av hvilken klokkesykel vil 35 ligge i ALUOpt: :input:`answer=7`
        -   text: |-
                Gitt følgende program:

                .. code::

                    ; Ved start er
                    ; x20 = 0x7F000000
                    ; Memory[0x7F000000] = 66
                    ; Memory[0x7F000004] = 33

                    lw x10, 4(x20)
                    lw x12, 0(x20)
                    add x14, x10, x12
                    sw x14 8(x20)

                La klokkesykel 1 være det første steget av den første :code:`lw`-instruksjonen.

                Ved slutten av hvilken klokkesykel ligger 33 i register :code:`x10`? :input:`answer=5`

                Ved slutten av hvilken klokkesykel ligger 66 i register :code:`x12`? :input:`answer=10`

                Ved slutten av hvilken klokkesykel ligger 99 i register :code:`x14`? :input:`answer=14`

                Ved slutten av hvilken klokkesykel ligger 99 i minnet på adresse 0x7F000008? :input:`answer=18`
        -   text: |-
                Gitt følgende program:

                .. code::

                    ; Ved start er
                    ; x2 = 0x55000000
                    ; x3 = 4
                    ; Memory[0x55000004] = 4

                    lw x4, 4(x2)
                    beq x4, x3, skip
                    sw x3, 4(x2)
                  skip:
                    sw x4, 8(x2)

                La klokkesykel 1 være det første steget av :code:`lw`-instruksjonen.

                Ved slutten av hvilken klokkesykel vil ALUOut være 0x55000004 for første gang? :input:`r`

                Ved slutten av hvilken klokkesykel vil MDR være 4? :input:`r`

                Ved slutten av hvilken klokkesykel vil 4 ligge i registerfila på plass x4? :input:`r`

                Ved slutten av hvilken klokkesykel vil 4 skrives til :code:`Memory[0x55000008]`? :input:`r`

                Ved slutten av hvilken klokkesykel vil adressen til :code:`skip` ligge i ALUOut? :input:`r`

                Ved slutten av hvilken klokkesykel vil maskinkoden til den siste :code:`sw`-instruksjonen skrives til IR? :input:`r`
        -   text: |+
                Gitt følgende program:

                .. code::

                    ; Ved start er
                    ; x7 = 0x12000000  ; Start-adressen til en tabell
                    ; x8 = 0x12000040  ; Slutt-adressen til en tabell

                    addi x5, x0, 0     ; Sett summen til 0
                  loop:

                    beq x7, x8, done   ; Sjekk om løkken har nådd slutten av tabellen

                    lw x6, 0(x7)       ; Hvis slutten ikke er nådd, les neste verdi fra tabellen
                    add x5, x5, x6     ; Legg til verdien i summen

                    addi x7, x7, 4     ; Flytt pekeren til neste tabell-element
                    beq x0, x0, loop   ; Hopp tilbake til toppen av løkken
                  done:
                    sw x5, 0(x8)       ; Lagre summen til tabellen, i minnet rett etter tabellen

                Husk at registeret x0 er hardkodet til å alltid inneholde 0.

                Tabellen har 16 elementer, som er 4 bytes hver.

                La klokkesykel 1 være det første steget av den øverste :code:`addi`-instruksjonen.

                Ved slutten av hvilken klokkesykel vil den første tabellverdien være lest inn i :code:`x6`? :input:`answer=12`

                Hvor mange klokkesykler tar én hel iterasjon av løkken? :input:`answer=19`

                Ved slutten av hvilken klokkesykel vil :code:`x7` inneholde adressen :code:`0x12000008` for første gang? :input:`answer=39`

                Ved slutten av hvilken klokkesykel vil summen av alle 16 tabellverdier være skrevet til :code:`0x12000040`? :input:`answer=315`

...
