author: Fagstaben
contact_url: ''
context: |-
    I denne øvingen skal vi konvertere mellom instruksjoner, maskinspråk og kontrollord.

    Du kan få bruk for følgende utklipp fra side 126 og 127 i læreboka:

    .. image:: T2/formats.png
      :width: 800
      :alt: Kontrollord-formater i RISC-V

    |

    .. image:: T2/instruction-encoding.png
      :width: 600
      :alt: Et knippe instruksjonsenkodinger i RISC-V

    .. image:: T2/instruction-encoding-2.png
      :width: 600
      :alt: Flere instruksjonsenkodinger i RISC-V
environment_id: tdt4205-eval
environment_parameters:
    limits:
        time: '30'
        hard_time: ''
        memory: '100'
    run_cmd: ''
environment_type: docker
file: ''
input_random: 10
name: Teoretisk øving 2
network_grading: false
problems:
    add1:
        type: multifill
        name: Instruksjoner på maskinspråk
        header: |-
            I denne oppgaven skal du ta for deg RISC-V-instruksjoner, og hvordan de ser ut når de skrives i maskinspråk.

            Når du svarer, oppgi svaret i binærtall, og med **like mange bits** som i maskinspråk-representasjonen.
        subtask_string: ''
        subtasks:
        -   text: |-
                Gitt følgende instruksjon:

                .. raw:: html

                  <script>
                  var x = (v) => "x" + (Math.floor(input["@random"][v] * 31) + 1);
                  document.write('<pre class="code literal-block">')
                  document.write(`add ${x(0)}, ${x(1)}, ${x(2)}`);
                  document.write('</pre>')
                  </script>

                Hva blir verdiene til :code:`rs1`, :code:`rs2` og :code:`rd` i instruksjonen skrevet i maskinspråk?

                ============ =======================
                :code:`rs1`: :input:`rs1, maxlen=10`

                :code:`rs2`: :input:`rs2, maxlen=10`

                :code:`rd`:  :input:`rd, maxlen=10`
                ============ =======================
        -   text: |-
                Gitt følgende instruksjon:

                .. raw:: html

                  <script>
                  var x = (v) => "x" + (Math.floor(input["@random"][v] * 31) + 1);
                  document.write('<pre class="code literal-block">')
                  document.write(`addi ${x(3)}, ${x(4)}, 22`);
                  document.write('</pre>')
                  </script>

                Hva blir verdiene til :code:`rs1` og :code:`rd` i instruksjonen skrevet i maskinspråk?

                ============ =======================
                :code:`rs1`: :input:`rs1, maxlen=10`

                :code:`rd`:  :input:`rd, maxlen=10`
                ============ =======================
    instruksjon-til-maskinkode:
        type: multifill
        name: Instruksjoner på maskinspråk 2
        header: |-
            I denne oppgaven skal du konvertere RISC-V-instruksjoner til maskinspråk-representasjon.

            Svarene skal oppgis i binærtall, men du kan fritt bruke mellomrom der du vil for å gjøre svaret mer leselig.
        subtask_string: 1/2;1/2;1/2
        subtasks:
        -   text: |+
                Gitt følgende RISC-V-instruksjon:

                .. code::

                  sub x3, x8, x12

                Hva blir den fulle 32-bits enkodingen av instruksjonen i maskinspråk?

                :input:`maxlen=40,ignorespace,answer=""`


        -   text: |-
                Gitt følgende RISC-V-instruksjon:

                .. code::

                  or x8, x14, x22

                Hva blir den fulle 32-bits enkodingen av instruksjonen i maskinspråk?

                :input:`maxlen=40,ignorespace,answer=""`
        -   text: |-
                Gitt følgende RISC-V-instruksjon:

                .. code::

                  lw x8, -35(x10)

                Hva blir den fulle 32-bits enkodingen av instruksjonen i maskinspråk?

                :input:`maxlen=40,ignorespace,answer=""`
        -   text: |-
                Gitt følgende RISC-V-instruksjon:

                .. code::

                  lb x29, -44(x2)

                Hva blir den fulle 32-bits enkodingen av instruksjonen i maskinspråk?

                :input:`maxlen=40,ignorespace,answer=""`
        -   text: |-
                Gitt følgende RISC-V-instruksjon:

                .. code::

                  lui x2, 4097

                Hva blir den fulle 32-bits enkodingen av instruksjonen i maskinspråk?

                :input:`maxlen=40,ignorespace,answer=""`
        -   text: |-
                Gitt følgende RISC-V-instruksjon:

                .. code::

                  lui x8, 2049

                Hva blir den fulle 32-bits enkodingen av instruksjonen i maskinspråk?

                :input:`maxlen=40,ignorespace,answer=""`
    cword-to-instructions:
        type: multifill
        name: Kontrollord til instruksjon
        header: |-
            Følgede bilde viser enkeltsykelprosessoren fra side 277 i læreboka.
            Den støtter et subset av RISC-V-instruksjoner, og valg av instruksjon påvirker prosessorens kontrollord.

            .. image:: T2/datapath2.png
              :width: 800
              :alt: Enkeltsykelprosessoren
        subtask_string: 1;2/3
        subtasks:
        -   text: |-
                Etter dekoding av en instruksjon vet du følgende:

                * Branch er 0
                * ALUen sin operasjon er addisjon
                * MemWrite er 0
                * RegWrite er 1
                * ALUSrc er 1

                Hvilke av følgende instruksjoner kan dette være?

                :input:`type=check,answer=true` :code:`lw x10, 120(x20)`

                :input:`type=check,answer=true` :code:`addi x5, x0, 120`

                :input:`type=check,answer=false` :code:`sw x3, 10(x4)`

                :input:`type=check,answer=false` :code:`add x6, x6, x11`

                :input:`type=check,answer=false` :code:`sub x5, x5, x7`

                :input:`type=check,answer=false` :code:`beq x6, x0, -50`
        -   text: |-
                Etter dekoding av en instruksjon vet du følgende:

                * ALUen sin operasjon er subtraksjon
                * MemWrite er 0
                * MemRead er 0
                * ALUSrc er 0

                Hvilke av følgende instruksjoner kan dette være?

                :input:`type=check,answer=true` :code:`sub x3, x6, x8`

                :input:`type=check,answer=true` :code:`beq x6, x8, label`

                :input:`type=check,answer=false` :code:`add x2, x10, x11`

                :input:`type=check,answer=false` :code:`addi x2, x0, -120`

                :input:`type=check,answer=false` :code:`lw x6, -120(x4)`

                :input:`type=check,answer=false` :code:`sw x2, -120(x8)`
        -   text: |-
                Etter dekoding av en instruksjon vet du følgende:

                * ALUen sin operasjon er subtraksjon
                * Branch er 1

                Hvilke av følgende instruksjoner kan dette være?

                :input:`type=check,answer=true` :code:`beq x6, x8, label`

                :input:`type=check,answer=false` :code:`sub x3, x6, x8`

                :input:`type=check,answer=false` :code:`lw x9, 20(x2)`

                :input:`type=check,answer=false` :code:`sw x9, 20(x2)`

                :input:`type=check,answer=false` :code:`addi x4, x0, 120`
        -   text: |
                Etter dekoding av en instruksjon vet du følgende:

                * RegWrite er 0

                Hvilke av følgende instruksjoner kan dette være?

                :input:`type=check,answer=true` :code:`beq x6, x8, label`

                :input:`type=check,answer=true` :code:`sw x22, 80(x3)`

                :input:`type=check,answer=false` :code:`sub x3, x6, x8`

                :input:`type=check,answer=false` :code:`addi x2, x0, 30`

                :input:`type=check,answer=false` :code:`add x2, x4, x5`

                :input:`type=check,answer=false` :code:`lw x22, 80(x3)`
